* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--color-ref-primary0);
}

.imageCarousel {
    display: none;
}

.ValoresMarca {
    width: 500px;
    display: inline-block;
    background-color: var(--color-ref-primary0);
}
.hope {
    width: 500px;
    display: inline-block;
    background-color: var(--color-ref-primary0);
}