:root {
    --heigth-img: 75%;
}

@media (max-width: 1024px) {
    .Title h1 {
        text-shadow: 4px 2px 3px var(--color-ref-tertiary10);
        font-size: 1.7rem;
    }

    .Title p {
        font-size: 1rem;
    }
    .imageCarousel {
        height: 584px;
        display: block;
    }
    .nossosProjetos {
        display: none;
    }

    .suaAjudaImg {
        width: var(--heigth-img);
        text-align: center;
    }
    
}


@media(min-width: 769px) and (max-width: 847px) {
    .sobreNosTexto h3, .suaAjudaTexto h4 {
        font-size: 1.8rem;
    }

    .sobreNosTexto p {
        font-size: 1.3rem;
    }

    .carousel-item img {
        height: inherit !important;
    }

    .suaAjudaTexto h4 {
        font-size: 1.8rem !important;
    }

    .suaAjudaTexto p {
        font-size: 1.3rem !important;
    }
    
    
    
}



@media (max-width: 768px) {
   
    .nossosProjetos {
        display: none;
    }

    .sobreNos {
        flex-direction: column;
    }

    .sobreNosImg {
        text-align: center;
        width: var(--heigth-img);
    }

    .sobreNosTexto {
        width: 75%;
    }

    .sobreNosTexto h3 {
        text-align: center;
        font-size: 1.4rem;
        margin: 8px 0 0;
    }

    .sobreNosTexto p   {
        font-size: 1.1rem;
        text-align: initial;
        margin: 8px 0 8px 0;
    }
    
    /* ======= */
    .carrosel {

       position: relative;
       overflow: hidden;
       max-width: 473px;
       height: 184px;
       margin: 0 auto;
    }
    #galeria {
        display: grid;
        grid-template-columns: repeat(4, 180px);
        justify-content: start;
        transition: all 200ms ease 0s;
        transform: translate3d(-0px, 0px, 0px);
        gap: 13px;
        max-width: 300px;
        gap: 10px;
        padding: 0 0 0 44px
        
   }
    
   .Back, .Next{
        position: absolute;
        border: none;
        padding: 16px 8px 16px 8px;
        height: 100%;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 6000;
        color: #ffffff;
        font-weight: bold;
        background-color: var(--color-ref-tertiary0);
        cursor: pointer;
        display: block;

   }

   #back {
    right: -0;
   }
   
   /* ======= */

    .imageCarousel h4 {
        font-size: 1.4rem !important;
        font-family: var(--font-family-ref-primary0);
    }

    .imageCarousel a {
        padding: 17px 8px !important;
    }

    .suaAjuda {
        text-align: center;
        flex-direction: column;
        margin: 0;
    }

    .suaAjudaTexto {
        width: 75%;
    }

    .suaAjuda .suaAjudaTexto h4 {
        margin: 12px 0;
        text-align: center;
        font-size: 1.4rem;
        font-family: var(--font-family-ref-primary0);
    }

    .suaAjuda .suaAjudaTexto p {
        font-size: 1.1rem;
        text-align: initial;
        font-family: var(--font-family-ref-primary0);
    }

    .suaAjuda .suaAjudaTexto p:nth-child(2) {
        margin: 0 0 16px;
    }

    .contribuicao {
        gap: 40px;
        align-items: center;
        flex-direction: column;
    }

    .contribuicao img {
        width: initial;
    }

    .contribuicao 
    .padrinho, 
    .facaParte, 
    .doeAgora {
        width: 300px;
    }
}

@media (max-width: 685px) {
    .imageCarousel {
        /* height: 471px; */
        padding-bottom: 18px;
    }

    .carousel {
        width: 75% !important;
    }
}

@media (max-width: 596px) {
    .Title h1 {
        font-size: 1.3rem;
    }
}

@media (max-width: 425px) {
    .carrosel {
        margin: 0 5px;
    }
}