@import './global.css';
@import './variable/color.css';
@import './variable/fonts.css';
@import './components/header.css';
@import './components/main.css';
@import './components/footer.css';





#subTituloPagina1 {
  margin-left: auto;
  text-align:center;
  color: var(--color-ref-secondary0);
  font-family: var(--font-family-ref-primary0);
}

.textoPaginaUm{
  display: flex;
  font-size: 30px;
  text-align: center;
  color: var(--color-ref-secondary0);
  font-family: var(--font-family-ref-primary0);
  text-shadow:0.1em 0.1em 0.2em whitesmoke;
  text-shadow: -1px 0 whitesmoke, 0 1px black,1px 0 black, 0 -1px black;
}


.paginaDois {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerDois {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  gap: 2rem;
}

#fotoDois {
  display: inline-flex;
  width: 50%;
  max-width:fit-content;
}

.textoPaginasDois{
  font-size: 30px;
  width: 400px;
  height: 500px;
  margin: auto;
  display: inline;
  color: var(--color-ref-tertiary0);
  font-family: var(--font-family-ref-primary0);
}

.tituloPaginasDois{
  color: var(--color-ref-tertiary0);
  font-family: var(--font-family-ref-primary0);
  font-size: 40px;

}

  #fotoTres{
    height: -80%;
    width: 80%;
    margin: auto;
    display: inline;
    display:flex;
  }
  
  /* .tituloPaginasTres{
    
    font-family: var(--font-family-ref-primary0);
    font-size: 40px;
    scroll-margin-inline-end: -30px;
  } */

  #fotoQuatro{
    height: -80%;
    width: 80%;
    margin: auto;
    display: inline;
    display: flex;
  }

  .tituloPaginasQuatro{
    margin-left:auto;
    color: var(--color-ref-tertiary0);
    font-family: var(--font-family-ref-primary0);
  }

  .textoPaginasQuatro{
    color: var(--color-ref-tertiary0);
    font-family:var(--font-family-ref-primary0);
    width: 400px;
    height: 500px;
    margin: auto;
  }

  .containerQuatro {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100%;
    max-width: 1400px;
  
    gap: 2rem;
  }
