@import './global.css';
@import './variable/color.css';
@import './variable/fonts.css';
@import './components/header.css';
@import './components/main.css';
@import './components/footer.css';









.textoPaginasDois{
  font-size: 30px;
  width: 400px;
  height: 500px;
  margin: auto;
  display: inline;
  color: var(--color-ref-tertiary0);
  font-family: var(--font-family-ref-primary0);
}



  #fotoTres{
    height: -80%;
    width: 80%;
    margin: auto;
    display: inline;
    display:flex;
  }
  
  #fotoQuatro{
    height: -80%;
    width: 80%;
    margin: auto;
    display: inline;
    display: flex;
  }

  .tituloPaginasQuatro{
    margin-left:auto;
    color: var(--color-ref-tertiary0);
    font-family: var(--font-family-ref-primary0);
  }

  .textoPaginasQuatro{
    color: var(--color-ref-tertiary0);
    font-family:var(--font-family-ref-primary0);
    width: 400px;
    height: 500px;
    margin: auto;
  }

  .containerQuatro {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100%;
    max-width: 1400px;
  
    gap: 2rem;
  }
