body{
    margin: 0px;
    background-color: #E8E8E8;
    margin-left: auto;
}
.paginaCapa{
    background-image: url(/image/CAPA.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
    background-size: 100%;
    height:600px;
    opacity: 0.7;
    }

#tituloPagina1{
    padding-top: 275px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#subTituloPagina1 {
    text-align:center;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#botãoDoeAgora{
    border-style:solid;
    border-radius: 40px;
    border-color: #E8E8E8;
    height: 60px;
    line-height: 30px;
    padding: 0 20px;
    margin-left: 90%;
    margin-top: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.paginaDois {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerDois {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 1400px;

  gap: 2rem;
}

#fotoDois {
  width: 50%;
  max-width:fit-content;
}
.textoPaginasDois{
  color: #40386D;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tituloPaginasDois{
  color: #40386D;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  #fotoTres{
    height: -80%;
    width: 80%;
    margin: auto;
    display: inline;
    display:flex;
  }
  
  .tituloPaginasTres{
    color: #40386D;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 400px;
    height: 500px;
    margin: auto;
    display: inline;
    display: table-cell;
  }
  
  .tituloPaginasQuatro{
    color: #40386D;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .textoPaginasQuatro{
    color: #40386D;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 400px;
    height: 500px;
    margin: auto;
   display: inline;
   display: table-cell;
  }

