@import './css/color.css';
@import './css/global.css';
@import './css/font.css';
@import './css/header-styles.css';





#subTituloPagina1 {
    text-align:center;
    color: var(--color-ref-secondary0);
    font-family: var(--font-family-ref-primary0);

}



.paginaDois {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerDois {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 1400px;

  gap: 2rem;
}

#fotoDois {
  width: 50%;
  max-width:fit-content;
}
.textoPaginasDois{
  color: var(--color-ref-tertiary0);
  font-family: var(--font-family-ref-primary0);
}
.tituloPaginasDois{
  color: var(--color-ref-tertiary0);
  font-family: var(--font-family-ref-primary0);
}
  #fotoTres{
    height: -80%;
    width: 80%;
    margin: auto;
    display: inline;
    display:flex;
  }
  
  .tituloPaginasTres{
    color: var(--color-ref-tertiary0);
    font-family: var(--font-family-ref-primary0);
    width: 400px;
    height: 500px;
    margin: auto;
    display: inline;
    display: table-cell;
  }

  #fotoQuatro{
    height: -80%;
    width: 80%;
    margin: auto;
    display: inline;
    display: flex;
  }

  .tituloPaginasQuatro{
    margin-left:auto;
    color: var(--color-ref-tertiary0);
    font-family: var(--font-family-ref-primary0);
  }

  .textoPaginasQuatro{
    color: var(--color-ref-tertiary0);
    font-family:var(--font-family-ref-primary0);
    width: 400px;
    height: 500px;
    margin: auto;
   display: inline;
  }

  .containerQuatro {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100%;
    max-width: 1400px;
  
    gap: 2rem;
  }

