header {
    position: relative;
    background-image: url(/image/CAPA.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
header > div {
    height:100%;
}

.Title {
    position: relative;
    top: 44%;
    width: 52%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 35px 1fr;
    justify-content: center;
}

.Title  h1, .Title p {
    color: var(--color-ref-secondary0);
    font-family:var(--font-family-ref-primary0);
    margin: 0;
}

.Title h1 {
    text-shadow: 4px 2px 3px var(--color-ref-tertiary10);
    font-size: 2.1rem;
}

.Title p {
    grid-row-start: 3;
    font-size: 1.2rem;
    font-weight: bold;
}

.btnDonateNow{
    border: 8px solid var(--color-ref-secondary0);
    background-color:rgba(0,0,0,0.1);
    border-radius: 40px;
    height: 60px;
    width: 200px;
    position: absolute;
    right: 50px;
    top: 10px;
    color: var(--color-ref-secondary0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.btnDonateNow img {
    width: 25px;
}

